html,
body {
	width: 100%;
	height: 100%;
	background: #F6F6F6;
}

body {
	width: 7.5rem;
	margin: 0 auto;
}

.hidden {
	display: none;
}


/* 重写swiper选中的样式颜色 */

.section-banner .swiper-pagination-bullet-active {
	background: #F75B51 !important;
}

.reccommend-swiper-pagination .swiper-pagination-bullet {
	width: 0.14rem;
	height: 0.14rem;
}

.recommend-box .swiper-pagination-bullet-active {
	background: rgba(99, 99, 99, 1) !important;
}


/* banner部分 */

.section-banner {
	width: 7.5rem;
	overflow: hidden;
	height: 3.2rem;
	position: relative;
}

.section-banner .banner-img {
	width: 100%;
	height: 100%;
	display: block;
}

.banner-wrapper,
.swiper-slide,
img {
	display: block;
	width: 100%;
	height: 100%;
}


/* 排序筛选部分 */

.section-sort {
	width: 100%;
	height: 0.70rem;
}

.section-sort .sort-box {
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
}

.section-sort .sort-box .sort-label {
	display: inline-block;
}


/* 商品列表 */

.section-pro-list {
	width: 100%;
	box-sizing: border-box;
	/* padding-top: 0.40rem; */
	/* margin-bottom: 0.46rem; */
}

.no-more {
	display: none;
	margin: 0.3rem auto;
	height: 0.42rem;
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #818B8F;
	letter-spacing: 0;
	text-align: center;
	line-height: 0.42rem;
}


/*页面头*/

.section-header {
	width: 100%;
	height: 0.9rem;
	box-sizing: border-box;
	padding-left: 0.60rem;
	padding-right: 0.60rem;
	padding-top: 0.28rem;
	/*padding-bottom: 0.28rem;*/
	background: linear-gradient(90deg, rgba(247, 90, 81, 1) 0%, rgba(253, 171, 59, 1) 100%);
	position: relative;
}

.icon-back {
	position: absolute;
	width: 0.20rem;
	height: 0.34rem;
	background-image: url(../img/icon_back.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 0.28rem;
	left: 0.30rem;
}

.header-content {
	width: 100%;
	height: 0.36rem;
	font-size: 0.36rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(255, 254, 254, 1);
	line-height: 0.36rem;
	text-align: center;
}


/*新的选品库列表*/

.pro-list-top-blank {
	width: 100%;
	height: 0.50rem;
}

.pro-cell-box {
	width: 6.90rem;
	/*height: 3.72rem;*/
	margin: 0 auto 0.35rem auto;
}

.pro-cell {
	width: 3.3rem;
	position: relative;
}

/*.pro-cell::after {
	content: '马上抢';
	position: absolute;
	display: block;
	width: 0.82rem;
	height: 0.30rem;
	text-align: center;
	background: #F34906;
	font-size: 0.20rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 0.30rem;
	bottom: 0;
	right: 0;
	border-radius:0.03rem;
}*/

.pro-get-now{
	margin-top: 0.13rem;
	display: inline-block;
	float: right;
	padding-top: 0.04rem;
	padding-bottom: 0.04rem;
	padding-left: 0.10rem;
	padding-right: 0.10rem;
		text-align: center;
	background: #F34906;
	font-size: 0.20rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 0.30rem;
	border-radius:0.03rem;
}

.pro-cell-left {
	float: left;
}

.pro-cell-right {
	float: right;
}

.pro-title {
	margin-top: 0.15rem;
	font-size: 0.24rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	/*color: rgba(42, 42, 42, 1);*/
	color: #000;
	/*line-height: 0.21rem;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pro-original-price {
	margin-top: 0.21rem;
	display: inline-block;
	float: left;
	font-size: 0.22rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
	letter-spacing: 0;
}

.line-through {
	text-decoration: line-through;
}

.pro-price {
	margin-top: 0.13rem;
	display: inline-block;
	float: left;
	font-size: 0.22rem;
	font-family: PingFang-SC-Bold;
	font-weight: bold;
	color: rgba(236, 11, 11, 1);
	letter-spacing: 0;
}

.pro-count {
	margin-top: 0.21rem;
	float: right;
	font-size: 0.22rem;
	font-family: PingFang-SC-Medium;
	font-weight: 500;
	color: rgba(102, 102, 102, 1);
}